<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=tittle%>
    </title>
    <%- include('partials/head')%>
</head>

<body>
    <%- include('partials/nav')%>

   <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
    <section>
        <h1 class="display-1">About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi numquam, quas architecto id laborum facilis repellat, dolorem cum enim dolore repudiandae deleniti sequi dignissimos inventore libero similique sunt deserunt earum consequuntur? Id magnam accusantium, harum quo totam omnis! Eveniet delectus ipsa tempora laudantium? Beatae possimus nemo dolores molestias nam ipsam!</p>
    </section>
   </main>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>