<footer class="bg-dark text-center p-4">
    <h1>
        Lorem ipsum dolor sit.
    </h1>
    <p class="h4">
       Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, sint.
    </p>
</footer>